.footer {
    &__inner {
        ul {
            display: flex;
            padding: 0;
            @include atSmallMedium {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            li {
                list-style: none;
                margin-right: $padding-lg;
                @include atSmallMedium {
                    margin-right: 0;
                }
            }
        }
    }
}