.footer {
    @include atSmallMedium {
        padding-bottom: $padding-lg;
    }
    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 5rem;
        @include atSmallMedium {
            flex-direction: column;
            height: 10rem;
        }

        ul {
            display: flex;
            padding: 0;
            @include atSmallMedium {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            li {
                list-style: none;
                margin-right: $padding-lg;
                @include atSmallMedium {
                    margin-right: 0;
                }
            }
        }

        .back-to-top {
            width: 2rem;
            cursor: pointer;
        }
    }
}