.info-block {
    height: 550px;
    border: 1.3rem solid $purple;
    display: flex;
    align-items: center;
    background-color: $bannerBackground;
    position: relative;
    margin-bottom: 20rem;
    @include atSmallMedium {
        height: 690px;
        padding-top: $padding-sm;
        width: 100%;
    }
    @include atExtraSmall {
        border: 1rem solid $purple;
    }

    p {
        font-size: $text-lg;
        color: $purple;
        width: 65%;
        margin-left: $padding-md;
        padding: $padding-xl 0;
        @include atSmallMedium {
            font-size: 1.5rem;
            align-self: flex-start;
            padding: 0 0;
            margin-left: $padding-sm;
        }
        @include atExtraSmall {
            width: 100%;
            font-size: 1.4rem;
        }
    }

    &__image {
        width: 17rem;
        transform: rotate(3.41deg);
        position: absolute;
        bottom: -17rem;
        right: 0;
        @include atExtraSmall {
            right: 0%;
        }

        img {
            width: 100%;
        }
    }
}