.info-block {
    height: 550px;
    border: 1.3rem solid $purple;
    display: flex;
    align-items: center;
    background-color: $bannerBackground;
    position: relative;

    p {
        font-size: $text-lg;
        color: $purple;
        width: 65%;
        margin-left: $padding-md;
        padding: $padding-xl 0;
    }

    &__image {
        width: 17rem;
        transform: rotate(3.41deg);
        position: absolute;
        bottom: -17rem;
        right: 0;

        img {
            width: 100%;
        }
    }
}