.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-sm 0;
    height: $height-sm;

    p {
        font-size: $text-md;
        color: $purple;
        @include atExtraSmall {
            font-size: $text-xs;
        }
    }

    ul {
        padding: 0;
        display: flex;

        li {
            list-style: none;
            margin-left: 1.5rem;
            font-size: $text-md;

            a:link, a:visited {
                color: $purple;
            }

            @include atExtraSmall {
                font-size: $text-xs;
            }
        }
    }
}